<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>@ViewBag.Title -  Appointment</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .padAll{
          padding: 50px;
        }
    </style>
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar bga-primary"></span>
                    <span class="icon-bar bga-primary"></span>
                    <span class="icon-bar bg-primary"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index","Home", new { area = ""})">
                    Appointment
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("Index","Home", new { area = ""})">Demo</a></li>
                    <li><a href="@Url.Action("Index","Home", new { area = ""})">Pricing</a></li>
                    <li><a href="@Url.Action("Index","Home", new { area = ""})">Scheduler</a></li>
                    <li><a href="@Url.Action("Index","Home", new { area = ""})">Support</a></li>
                    <li><a href="@Url.Action("Index","Home", new { area = ""})">Partners</a></li>
                    <li><a href="@Url.Action("Contact","Home", new { area = ""})">Contact</a></li>
                    <li><a href="@Url.Action("Login","Home", new { area = ""})">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        @RenderBody()
    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
