@model App.Schedule.Domains.ViewModel.ServiceDataViewModel<App.Schedule.Domains.ViewModel.TimezoneViewModel>
@{
    ViewBag.Title = "Edit Timezone";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        @if (Model != null && Model.HasError)
        {
            <div id="errorBox" class="alert alert-danger" role="alert">
                <strong id="err_head">Error: </strong>
                <span id="err_title">@Model.Error</span>
                @if (Model.HasMore)
                {
                    <button data-toggle="collapse" data-target="#moreError">More</button>
                    <div id="moreError" class="collapse">
                        @Model.ErrorDescription
                    </div>
                }
            </div>
        }
        <div id="errorBox" class="alert alert-danger" role="alert" style="display:none;">
            <strong id="err_head">Error: </strong>
            <span id="err_title">Please try again later.</span>
        </div>

        <div class="bg-box bg-bluegray">
            @using (Ajax.BeginForm("Edit", new AjaxOptions { }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Data.Id);
                <div class="form-group input-group input-group-lg">
                    <label class="input-lg input-group-addon">
                        Edit Timezone
                    </label>
                </div>
                <div class="form-horizontal">

                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                @Html.EditorFor(model => model.Data.Title, new { htmlAttributes = new { @class = "form-control", placeholder = "Title" } })
                                <span class="input-group-addon" id="sizing-addon2">Title</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                @Html.EditorFor(model => model.Data.UtcOffset, new { htmlAttributes = new { @class = "form-control", placeholder = "UtC offset" } })
                                <span class="input-group-addon" id="sizing-addon2">UTC offset</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                @Html.DropDownListFor(model => model.Data.CountryId, new SelectList(ViewBag.CountryId, "Value", "Text"), "--Select Country--", new { @class = "form-control" })
                                <span class="input-group-addon" id="sizing-addon2">Currency Code</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    @Html.CheckBoxFor(model => model.Data.IsDST, new { htmlAttributes = new { @class = "form-control" } })
                                </span>
                                <span class="form-control">
                                    IsDST
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input id="btnEdit" type="button" value="Edit" onclick="onSubmit(this,'@Url.Action("Index","Timezone")');" class="btn btn-sm btn-dark col-md-6" />
                            <input type="button" class="btn btn-sm btn-default col-md-6" value="Back" onclick="@("window.location.href='" + @Url.Action("Index", "Timezone") + "'");" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
