@using FullCalendar
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AfterLoginMaster.cshtml";
}

@Styles.Render("~/bundles/fullcalendar/css")


<div class="panel panel-danger">
    <div class="panel-heading"><b>Your free trail has expired.</b></div>
    <div class="panel-body">
        <p class="text-danger">
            Free trial for account #32457342 has expired. If you would like to continue using Ap Online Appointment Scheduler, please activate your account. You will be asked to provide your credit card information to set up automatic billing on your account. Once you submit your credit card information to <b>Ap</b>, your account will be activated immediately.
        </p>
        <a class="btn btn-sm btn-danger" href="@Url.Action("Membership","Account",new { area="admin" })">
            Activate Account
        </a>

    </div>
    <div class="panel-footer">
        <p class="text-info">
            <b>* Note:</b> If you have updated your credit card information but your account is still not activated,
            please contact <b>Ap</b> Customer Service for assistance.
        </p>
    </div>
</div>
<div class="panel panel-success">
    <div class="panel-heading"><b>Appointment Calendar</b></div>
    <div class="panel-body">
        @Html.FullCalendar(settings =>
   {
       settings.Name = "ApCalendar";
       settings.CssClass = "css-test";
       settings.Header = new Header
       {
           Left = new ControlsBuilder().AddButton(HeaderButton.Prev).AddSeparator(HeaderSeparator.Adjacent)
                       .AddButton(HeaderButton.Next).AddSeparator(HeaderSeparator.Gap).AddButton(HeaderButton.Today),
           Center = new ControlsBuilder().AddTitle(),
           Right = new ControlsBuilder("month,agendaWeek,agendaDay ")
       };
       settings.DefaultView = Enum.GetName(typeof (AvailableView), AvailableView.Month);
       settings.Editable = true;
       settings.AllDaySlot = false;
       settings.Selectable = true;
       settings.SlotDuration = TimeSpan.FromMinutes(15);
       settings.Events = new EventCollection(Url.Action("GetDiaryEvents", "Dashboard", new { start=DateTime.Now, end = DateTime.Now.AddDays(2), area = "Admin" }), EventCollectionType.JsonFeed);
       })
    </div>
</div>
<div class="panel panel-success">
    <div class="panel-heading">
        <b>Upcomming Appoitnments</b>
    </div>
    <div class="panel-body">
        <p>
            @Html.FullCalendar(settings =>
         {
             settings.Name = "ApCalendarList";
             settings.CssClass = "css-test";
             settings.Header = new Header
             {
                 Left = new ControlsBuilder().AddButton(HeaderButton.Prev).AddSeparator(HeaderSeparator.Adjacent)
                             .AddButton(HeaderButton.Next).AddSeparator(HeaderSeparator.Gap).AddButton(HeaderButton.Today),
                 Center = new ControlsBuilder().AddTitle(),
                 Right = new ControlsBuilder().AddView(AvailableView.ListMonth)
             };
             settings.DefaultView = Enum.GetName(typeof(AvailableView), AvailableView.ListMonth);
             settings.Editable = true;
             settings.AllDaySlot = false;
             settings.Selectable = true;
             settings.SlotDuration = TimeSpan.FromMinutes(15);
             settings.Events = new EventCollection(Url.Action("GetDiaryEvents", "Dashboard", new { start = DateTime.Now, end = DateTime.Now.AddDays(2), area = "Admin" }), EventCollectionType.JsonFeed);
         })
        </p>
    </div>
</div>
@Scripts.Render("~/bundles/fullcalendar/jquery")