@using App.Schedule.Domains.ViewModel;
@model ResponseViewModel<List<BusinessHolidayViewModel>>

@{
    ViewBag.Title = "Business Holiday Setup";
    Layout = "~/Views/Shared/_AfterLoginMaster.cshtml";
}

<ul class="nav nav-tabs">
    <li class="active"><a href="@Url.Action("index", "holiday", new { area = "admin" })">Business Holiday</a></li>
</ul>
<div class="tab-content" style="padding:0px 10px;">
    <div class="tab-pane active">
        <div class="col-lg-12 margin10">
            <div class="row">
                @if (Model != null)
                {
                    if (!Model.Status)
                    {
                        <div id="errorBox" class="alert alert-danger" role="alert">
                            <strong id="err_head">Error: </strong>
                            <span id="err_title">@Model.Message</span>
                        </div>
                    }
                    <table class="table table-striped">
                        <tr>
                            <td>
                                Holidays List
                            </td>
                            <td></td>
                        </tr>
                        @if (Model.Data != null && Model.Data.Count > 0)
                        {
                            foreach (var item in Model.Data)
                            {
                                if (item != null)
                                {
                                    <tr>
                                        <td class="text-left">
                                            @{
                                                if (item.Type == (int)HolidayType.Specified)
                                                {
                                                    <text>On </text> @item.OnDate.ToString("MMMM dd, yyyy (dddd)");
                                                }
                                                else if (item.Type == (int)HolidayType.RpeatEveryWeek)
                                                {
                                                    <text>Every </text> @item.OnDate.ToString("dd"); <text> day of the month since </text>  @item.OnDate.ToString("MMMM yyyy");
                                                }
                                                else if (item.Type == (int)HolidayType.RepeatEveryMonth)
                                                {
                                                    <text>Every </text> @item.OnDate.ToString("dddd"); <text> since </text>  @item.OnDate.ToString("MMMM dd, yyyy");

                                                }
                                                else if (item.Type == (int)HolidayType.RepeatEveryYear)
                                                {
                                                    <text>On </text> @item.OnDate.ToString("MMMM dd"); <text> every year since </text>  @item.OnDate.ToString("yyyy");
                                                }
                                            }
                                        </td>
                                        <td class="text-right">
                                            <a href="@Url.Action("edit", "holiday", new { area = "admin", id = item.Id })" class="btn btn-success">Edit</a>
                                            <a href="@Url.Action("delete", "holiday", new { area = "admin", id = item.Id })" class="btn btn-danger">Delete</a>
                                        </td>
                                    </tr>
                                }
                            }
                         }
                         else
                         {
                                                     <tr>
                            <td>
                                No Holiday, Please Setup your business holiday.
                            </td>
                            <td></td>
                        </tr>
                         }
                    </table>
                 }
            </div>
            <hr />
            <div class="text-center">
                <a href="@Url.Action("add", "holiday", new { area = "admin" })" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> Add
                </a>
                <a href="@Url.Action("index", "accountsetup", new { area = "admin" })" class="btn btn-default">
                    Account Setup
                </a>
            </div>
        </div>
    </div>
</div>
