@model App.Schedule.Domains.ViewModel.ServiceDataViewModel<App.Schedule.Domains.ViewModel.MembershipViewModel>
@{
    ViewBag.Title = "Edit Membership";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        @if (Model != null && Model.HasError)
        {
            <div id="errorBox" class="alert alert-danger" role="alert">
                <strong id="err_head">Error: </strong>
                <span id="err_title">@Model.Error</span>
                @if (Model.HasMore)
                {
                    <button data-toggle="collapse" data-target="#moreError">More</button>
                    <div id="moreError" class="collapse">
                        @Model.ErrorDescription
                    </div>
                }
            </div>
        }
        <div id="errorBox" class="alert alert-danger" role="alert" style="display:none;">
            <strong id="err_head">Error: </strong>
            <span id="err_title">Please try again later.</span>
        </div>

        <div class="bg-box bg-bluegray">
            @using (Ajax.BeginForm("Edit", new AjaxOptions { }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Data.Id)
                <div class="form-group input-group input-group-lg">
                    <label class="input-lg input-group-addon">
                        Edit Membership
                    </label>
                </div>
                <div class="form-horizontal">

                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                @Html.EditorFor(model => model.Data.Title, new { htmlAttributes = new { @class = "form-control", placeholder = "Title" } })
                                <span class="input-group-addon" id="sizing-addon2">Title</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                @Html.EditorFor(model => model.Data.Price, new { htmlAttributes = new { @class = "form-control", placeholder = "Price" } })
                                <span class="input-group-addon" id="sizing-addon2">Price</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                @Html.EditorFor(model => model.Data.TotalCustomer, new { htmlAttributes = new { @class = "form-control", placeholder = "Allowed Customers" } })
                                <span class="input-group-addon" id="sizing-addon2">Total Customer</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                @Html.EditorFor(model => model.Data.TotalEmployee, new { htmlAttributes = new { @class = "form-control", placeholder = "Allowed Employees" } })
                                <span class="input-group-addon" id="sizing-addon2">Total Employee</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                @Html.EditorFor(model => model.Data.TotalLocation, new { htmlAttributes = new { @class = "form-control", placeholder = "Allowed Locations" } })
                                <span class="input-group-addon" id="sizing-addon2">Total Location</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                @Html.EditorFor(model => model.Data.TotalOffers, new { htmlAttributes = new { @class = "form-control", placeholder = "Allowed Offers" } })
                                <span class="input-group-addon" id="sizing-addon2">Total Offers</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                @Html.EditorFor(model => model.Data.TotalAppointment, new { htmlAttributes = new { @class = "form-control", placeholder = "Allowed Appointments" } })
                                <span class="input-group-addon" id="sizing-addon2">Total Appointment</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                @Html.EditorFor(model => model.Data.Benifits, new { htmlAttributes = new { @class = "form-control", placeholder = "Benifits" } })
                                <span class="input-group-addon" id="sizing-addon2">Benifits</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                @Html.EditorFor(model => model.Data.Description, new { htmlAttributes = new { @class = "form-control", placeholder = "Description" } })
                                <span class="input-group-addon" id="sizing-addon2">Description</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    @Html.CheckBoxFor(model => model.Data.IsUnlimited, new { htmlAttributes = new { @class = "form-control" } })
                                </span>
                                <span class="form-control">
                                    Unlimited
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    @Html.CheckBoxFor(model => model.Data.IsActive, new { htmlAttributes = new { @class = "form-control" } })
                                </span>
                                <span class="form-control">
                                    Status
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input id="btnEdit" type="button" value="Edit" onclick="onSubmit(this,'@Url.Action("Index","Membership")');" class="btn btn-sm btn-dark col-md-6" />
                            <input type="button" class="btn btn-sm btn-default col-md-6" value="Back" onclick="@("window.location.href='" + @Url.Action("Index", "Membership") + "'");" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
