@model App.Schedule.Domains.ViewModel.ResponseViewModel<App.Schedule.Domains.ViewModel.BusinessViewModel>

@{
    ViewBag.Title = "Update Account Profile";
    Layout = "~/Views/Shared/_AfterLoginMaster.cshtml";
}
<ul class="nav nav-tabs">
    <li class="active"><a href="@Url.Action("index", "account", new { area = "admin" })">Account Profile</a></li>
    <li><a href="@Url.Action("administrator", "account", new { area = "admin" })">Administrator</a></li>
    <li><a href="@Url.Action("membership", "account", new { area = "admin" })">Membership</a></li>
    <li><a href="@Url.Action("billing", "account", new { area = "admin" })">Billing</a></li>
</ul>
<div class="tab-content" style="padding:0px 10px;">
    <div class="tab-pane active">
        <div class="col-lg-12 margin10">
            <div class="row">
                @{
                    if (Model != null)
                    {
                        if (!Model.Status)
                        {
                            <div id="errorBox" class="alert alert-danger" role="alert">
                                <strong id="err_head">Error: </strong>
                                <span id="err_title">@Model.Message</span>
                            </div>
                        }
                        if (Model.Data != null)
                        {
                            <table class="table table-striped">
                                <tr>
                                    <td class="text-right">Category</td>
                                    <td>
                                        @if (Model.Data != null && Model.Data.tblBusinessCategory != null)
                                        {
                                            <text>@Model.Data.tblBusinessCategory.Name</text>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-right">Business Name</td>
                                    <td>
                                        @Html.EditorFor(model => model.Data.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Business Name"} })
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-right">Short Name</td>
                                    <td>
                                        @Html.EditorFor(model => model.Data.ShortName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Short Name"} })
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-right">Phone No.</td>
                                    <td>
                                        @Html.EditorFor(model => model.Data.PhoneNumbers, new { htmlAttributes = new { @class = "form-control", @placeholder = "Phone No."} })
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-right">Fax No.</td>
                                    <td>
                                        @Html.EditorFor(model => model.Data.FaxNumbers, new { htmlAttributes = new { @class = "form-control", @placeholder = "Fax No."} })
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-right">Email Id</td>
                                    <td>
                                        @Html.EditorFor(model => model.Data.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Business Email"} })
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-right">Website</td>
                                    <td>
                                        @Html.EditorFor(model => model.Data.Website, new { htmlAttributes = new { @class = "form-control", @placeholder = "Business Website"} })
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-right">Address 1</td>
                                    <td>
                                        @Html.EditorFor(model => model.Data.Add1, new { htmlAttributes = new { @class = "form-control", @placeholder = "Address 1"} })
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-right">Address 2</td>
                                    <td>
                                        @Html.EditorFor(model => model.Data.Add2, new { htmlAttributes = new { @class = "form-control", @placeholder = "Address 2"} })
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-right">City</td>
                                    <td>
                                        @Html.EditorFor(model => model.Data.City, new { htmlAttributes = new { @class = "form-control", @placeholder = "City"} })
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-right">City</td>
                                    <td>
                                        @Html.EditorFor(model => model.Data.State, new { htmlAttributes = new { @class = "form-control", @placeholder = "State"} })
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-right">Zipcode</td>
                                    <td>
                                        @Html.EditorFor(model => model.Data.Zip, new { htmlAttributes = new { @class = "form-control", @placeholder = "Zip Code"} })
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-right">Country</td>
                                    <td>
                                        @Model.Data.CountryId
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-right">Timezone</td>
                                    <td>
                                        @if (Model.Data.tblTimezone != null)
                                        {
                                            <text>@Model.Data.tblTimezone.Title</text>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-right">Is International</td>
                                    <td>
                                        @Html.CheckBoxFor(model => model.Data.IsInternational, new { htmlAttributes = new { @type = "checkbox"} })
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-right"></td>
                                    <td>
                                        <a class="btn btn-success col-lg-4 disabled" href="#">Edit</a>
                                        <a href="@Url.Action("index","accountsetup",new { area="admin"})" class="btn btn-default col-lg-4" style="margin-left:10px;">Back</a>
                                    </td>
                                </tr>
                            </table>
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>